.row.new_comment_form
  .col-md-2
    .pull-left #{current_user.info}
  .col-md-8
    = simple_form_for :comment, url: support_comments_path(support), html: { id: 'new_comment_form' } do |f|
      .markdown-panel
        .arrow
        .markdown-heading
          %ul
            %li.active= link_to '', '#write-content', data: { toggle: 'tab' }, id: 'write-tab', class: 'action-icon'
            %li= link_to '', '#preview-content', data: { toggle: 'tab' }, id: 'preview-tab', class: 'action-icon'

        .markdown-content
          #write-content.tab-pane.active
            = f.input :body, as: :text, label: false, input_html: { required: true },
              placeholder: 'Leave a comment'
          #preview-content.tab-pane
      .action-panel
        = f.submit 'Comment', class: 'btn btn-success pull-right'
