.container
  .row
    .col-md-12
      %div
        = "#"
        %span.topic
          = "#{topic.small_title}?"
      %p
        = "Fear not! #{random_supporter.to_s} is here to help!"
  .row
    .col-md-8
      = render 'supports/form', supporter: random_supporter, topic: topic
    .col-md-2
      #{random_supporter.gravatar(200)}
  .row
    .col-md-8
      .supporters-panel
        We selected a random supporter for you. All people that signed for this topic are:
        .supporters-list
          = render partial: 'supporter', collection: topic.supporters
