%h1.logo.row
  %i.glyphicon.glyphicon-fire
  Help!
.selection_buttons
  = link_to topics_path, class: 'btn btn-danger' do
    %span
      %i.glyphicon.glyphicon-fire
      I need help
    %small Click here to pick topic you need help with
  = link_to skills_path, class: 'btn btn-success' do
    %span
      I can help
      %i.glyphicon.glyphicon-heart
    %small Click here to select topics you can help with
.row
  .col-md-6
    %h2 Pending help requests:
    %ul.supports
      - waiting_for_help.each do |not_done|
        %li= render 'supports/not_done', not_done: not_done
  .col-md-6
    %h2 Recently helped:
    %ul.supports
      - recent_supports.each do |support|
        %li= render support

  .col-md-12
    = link_to users_path, class: 'btn btn-primary pull-right' do
      %i.glyphicon.glyphicon-user
      See ranking
