%section.intro
  .container
    .row
      .col-xs-12
        %h3
          We already solved
          %strong= Support.done.count
          requests but there are still
          %strong= Support.not_done.count
          requests to solve.

    .row
      .col-lg-4.col-lg-offset-4
        = link_to 'I need help', topics_path, class: 'btn btn--lg btn--block'

%section.requests
  .container
    .row
      .col-lg-6.col-lg-offset-3
        .box
          .row
            %h2 Pending help requests:
            %ul.supports
              - waiting_for_help.each do |not_done|
                %li= render 'supports/not_done', not_done: not_done
          .row
            %h2 Recently helped:
            %ul.supports
              - recent_supports.each do |support|
                %li= render support

  .col-xs-12.text-center
    = link_to 'See users ranking', users_path, class: 'btn btn-primary'
