%li.support{ class: support.css_class }
  %p.support__folks= support.folks_label
  %p.support__category= support.topic
  %p.support__details
    = support.started_at
    = support.comments_label
  = link_to '', support
