.container
  .row
    .col-md-8
      .row
        .col-sm-8
          %h1.header-line
            = support.ticket_id
            %span.capitalize_text
              = support.topic
        .col-sm-4.supporter-panel
          = support.skip_button
          = support.action_button
      .row.hidden-xs
        .col-xs-12
          %h3.subheader-line
            = support.title
  .row
    .col-md-8
      .row
        .pic-holder.hidden-xs.hidden-sm
          = support.receiver.gravatar(60)
        .col-xs-12
          .row
            .col-xs-12.padding-for-avatar
              .markdown-panel
                .arrow.hidden-xs.hidden-sm
                %blockquote.markdown-body.request-preview= preserve support.body
          .row
            .col-xs-12.request-history.padding-for-avatar
              Request history
          .row
            .col-xs-12.comments.padding-for-avatar
              = render 'comments/start', locals: { support: support }
              = render 'comments/comments'
              - if support.done?
                = render 'comments/end', locals: { support: support }
              = render 'comments/form'
