.container
  .row
    .col-md-12
      .row
        .col-xs-12.col-sm-8.col-md-7
          %h1.header-line
            = "##{support.ticket_id}"
            %span.capitalize_text
              = support.topic
          %h3.subheader-line
            = support.title
        .col-xs-12.col-sm-4.col-md-5.supporter-panel
          #{support.skip_button}
          #{support.action_button}

  .row
    .col-md-8
      .row
        .pic-holder.hidden-xs.hidden-sm
          = current_user.gravatar(60)

        .col-md-12
          .row
            .col-md-12.padding-for-avatar
              .markdown-panel
                .arrow.hidden-xs.hidden-sm
                %blockquote.markdown-body.request-preview= preserve support.body

          .row
            .request-history.col-md-12.padding-for-avatar
              Request history
          .row
            .comments.col-xs-12.padding-for-avatar
              .row
                .col-xs-12.event.start
                  .image
                    = image_tag('i/status-new.png')
                  .details
                    .who
                      %span.bold
                        #{support.receiver.to_s.titleize}
                      asked for help
                    .when
                      = support.when_started?
              = render 'comments/comments'
              - if support.done?
                .row
                  .col-xs-12.event.done
                    .image
                      = image_tag('i/status-done.png')
                    .details
                      .who
                        %span.bold
                          #{support.user.to_s.titleize}
                        marked as done
                      .when
                        = support.when_finished?
              = render 'comments/form'
